.esplogo {
	margin-top: 140px;
}
.img-responsive {margin:0 auto;}

.about {
	margin-bottom: 50px;
}

#myCarousel {
	margin-bottom: 60px;
}

.navbar-brand {
	padding: 0;
}
h3 {
    display: inline-block;
    padding: 10px;
    background: #B9121B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.full-screen {
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}
