.navdiv {
	background-color: #283746;
	/*background-image: url("../img/2.png");
	background-repeat: repeat;*/
}

body {
	background-image: url("../img/2.png");
}

header {
	background-color: #283746;
}

.navdiv {
	height: 150px;
	background-color: #283746;
}

.navbar-default {
	background-color: #283746;
}

a {
	color: #fff;
}

.marginclass {
	font-size: 1.5em;
	margin-top: 50px;
}

.img-div {
	width: 100%;
	position: absolute;
	height: 500px;
	background-image: url("../img/imgdiv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
	max-height: 100%;
	float: left;
}

hr {
	position: absolute;
}

.lcol {
	position: relative;
	margin-top: 150px;
	background-color: transparent;
}

.rcol {
	text-align: right;
	margin-top: 150px;
	background-color: transparent;
}

footer {

	background-color: #283746;
}

span {
    color: #fff;
}

.social {
	margin-left:auto; 
	margin-right:0;
}

.lcol:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 100%;
    border-left: 2px #ff0000;
}

.SearchBar input {
	width: 100%;
    border-radius: 7px;
	margin-top: 200px;
     height: 50px;
     width: 200px;
}

.SearchBox input {
		width: 100%;
    border-radius: 7px;
	margin-top: 10px;
	height: 35px;
	width: 150px;
}

.predict {
	margin-top: 10px;
	margin-bottom: 10px;
}

.arr {
	color: #fff;
}