.esplogo {
	margin-top: 140px;
}
.img-responsive {
    margin:0 auto;
    padding: 0;
}

.about {
	margin-bottom: 50px;
}

#myCarousel {
	margin-bottom: 60px;
}

.navbar-brand {
	padding: 0;
}
body {
    font-family: 'Ubuntu', sans-serif;
}

.full-screen {
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}
.footer
{
    height: 50px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0;
}
#sach{
    height: 50px; 
}
#mycarousel{
    margin-bottom: 50px;
}
#footer{
    height: 50px; 
}
section#DataTShirt{
    margin-bottom: 50px;
}
#cen {
  text-align: center;
  width:100%;
}
.iframe{
  width: 200px;
}
